<!DOCTYPE html>
<html>
    <head>
      <title>Team</title>
    </head>
    <body>
      <h1><%= @team.name %></h1>
      <br>
      <h2>Team Motto: <%= @team.motto%></h2>
      <br>
      <h2>Hero Name: <%= @members[].name%></h2>
      <h3>Hero Power: <%= @members[].power %></h3>
      <h3>Hero Biography: <%= @members[].bio %></h3>
      <br>
      <h2>Hero Name: <%= @members[].name%></h2>
      <h3>Hero Power: <%= @members[].power %></h3>
      <h3>Hero Biography: <%= @members[].bio %></h3>
      <br>
      <h2>Hero Name: <%= @members[].name%></h2>
      <h3>Hero Power: <%= @members[].power %></h3>
      <h3>Hero Biography: <%= @members[].bio %></h3>
    </body>
</html>

